.nav-logo {
  width: 65%;
}

.nav-item:hover {
  border: 1px solid #9fd858;
  background-color: #9fd858;
  color: seagreen;
  border-radius: 10%;
}
.nav-item:focus {
  border: 1px solid #9fd858;
  background-color: #9fd858;
  color: seagreen;
  border-radius: 10%;
}
