.nav-logo {
  width: 65%;
}

.nav-item:hover {
  border: 1px solid #9ed858c9;
  background-color: #9fd858;
  color: seagreen;
  border-radius: 10%;
}
.nav-link:focus {
  border: 1px solid #9aff1f;
  background-color: #9dfd28;
  color: seagreen;
  border-radius: 10%;
}
